<header>
  <nav class="navbar navbar-default">
  <div class="navbar-inner">
    <a href="/" class="navbar-brand">Schedulr</a>
    <ul class="nav navbar-nav">
      <% if current_user.admin? %>
      <li class="dropdown admin">
        <a class="dropdown-toggle" data-toggle="dropdown">Employees <strong class="caret"></strong></a>
        <ul class="dropdown-menu">
          <li><%= link_to "All Employees", admin_users_path %></li>
          <li><a>Schedule Templates</a></li>
          <li><a>Edit Details</a></li>
          <li class="divider"></li>
          <li><a href="#">Add New User</a></li>
          <li><a>Donald Trump</a></li>
        </ul>
      </li>
      <li class="dropdown admin">
        <a class="dropdown-toggle" data-toggle="dropdown">Schedules <strong class="caret"></strong></a>
        <ul class="dropdown-menu">
          <li><%= link_to "Schedules Dashboard", admin_schedules_path %></li>
          <li class="divider"></li>
          <li><%= link_to "Create New", new_admin_schedule_path %></li>
          <% unless @get_latest.nil? %>
            <li><a>Edit Current</a></li>
          <% end %>
        </ul>
      </li>
      <li><%= link_to "TipTracker", user_tips_path %>
      <li><a>Requests</a></li>
      <li><a>Messages</a></li>
      <li class="admin"><a>Site Activity</a></li>
      <% else %>
        <li><%= link_to "All Employees", users_path %></li>
      <% end %>
    </ul>
    <div class="nav-right">
      <ul class="nav navbar-nav navbar-right">

        <!-- Login/logout -->
        <% if user_signed_in? %>
          <li><%= link_to "Sign Out", destroy_user_session_path, :method => :delete %></li>
        <% else %>
          <li><%= link_to "Sign In", new_user_session_path %></li>
        <% end %>
        <li class="nav summary">
          <div>
            <%= render 'navbar_notification', :type => "envelope", :count => 2 %>
            <%= render 'navbar_notification', :type => "calendar", :count => 5 %>
            <!--
            <a sc-notification="envelope" type="message" count="1"></a>
            <a sc-notification="calendar" type="request" count="3"></a>
            -->
          </div>
        </li>
        <li id="gravatar"><%= image_tag gravatar_url(current_user) %></li>
      </ul>
    </div>
  </div>
  </nav>
</header>