<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Scheduler Skeleton</title>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
  <%= stylesheet_link_tag 'application' %>
  </head>
<body>

  <!-- <main> -->
  <div class="main">
    <%= render 'static_employee_sidebar' %>

    <!-- Main Content Area -->
    <section class="content-stage">
      <%= render 'page_navigation' %>

      <!-- Main Content Area, yield or ng-view -->
      <div class="content">
        <%= yield %>
      </div>
      <!-- End Main Content Area -->

    </section>

    <footer class="toolbar">
      <div class="content-wrapper">
        <p>Footer content</p>
      </div>
    </footer>
  </div>
  <!-- </main> -->
  <%= javascript_include_tag 'application' %>
</body>
</html>